<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
    <div class="card-title">
      <h2>
        <!--
        links eckige Klammern = rechts Ausdruck: [foo]="expression"
        links KEINE eckige Klammern = rechts String: foo="string"
        -->
        <!--<a [routerLink]="'/books/details/' + book.isbn">{{ book.title }}</a>-->
        <!--<a routerLink="/books/details/{{ book.isbn }}">{{ book.title }}</a>-->
        <a [routerLink]="['/books', 'details', book.isbn]">{{ book.title }}</a>

        <span class="badge bg-secondary">{{ book.rating }}</span>
      </h2>
    </div>
    <p>{{ book.description }}</p>
    <p>Preis: {{ book.price | currency:'EUR' }}</p>

    <div>
      Autoren:
      <!--<ul>
        <li *ngFor="let author of book.authors">{{ author }}</li>
      </ul>-->

      {{ book.authors.join(', ') }}

      <!--<hr>

      <ng-container *ngFor="let author of book.authors; last as l">
        {{ author }}<ng-container *ngIf="!l">, </ng-container>
      </ng-container>-->

      <div>
        <img [src]="book.firstThumbnailUrl" style="width: 10vw">
      </div>
    </div>

    <button class="btn btn-green" (click)="doRateUp()"> + </button>
    <button class="btn btn-red" (click)="doRateDown()"> – </button>
  </div>
</div>
